@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

:root {

    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --Tomato: hsl(4, 100%, 67%);
}

html, body {
    min-height: 100vh;
}

body {
    font-family: Roboto;
    background-color: var(--dark-slate-grey);
    align-items: center;
    justify-content: center;
    display: flex;
}

.popup {
    background-color: white;
    display: flex;
    border-radius: 25px;
    padding: 25px;
}

#pop-up {
    align-items: center;
}

#success-popup {
    flex-direction: column;
    height: 350px;
    width: 380px;
    padding: 50px;
    padding-bottom: 80px;
}

#success-tick {
    width: 60px;
    height: 60px;
}

#success-title {
    font-size: 50px;
    margin-bottom: 5px;
}

/* #pop-up > * {
    border: 5px dashed red;
} */

#picture {
    display: flex;
    padding-left: 25px;
}

#text {
    padding-left: 25px;

}

#heading {
    color: var(--dark-slate-grey);
    font-size: 50px;
}

#description {
    color: var(--dark-slate-grey);
}

#list {
    list-style-image: url(./assets/images/icon-list.svg);
    
}

li {
    padding: 4px;
}

li::marker {
    position: relative;
    top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#email-label {
    font-weight: bold;
}

#email {
    border: 0.5px solid var(--grey);
    cursor: pointer;
}

.button {
    background-color: var(--charcoal-grey);
    color: var(--white);
    cursor: pointer;
    border: 0;
    transition: all 125ms;
}

#dissmiss-button {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/* 
    background-image: linear-gradient(_deg*, color, color...);
    box-shadow: x y blur color;
    box-shadow: 10px 10px 5px pink;
*/
.button:hover {
    /* background-color: hsl(4, 100%, 67%); */
    background-image: url("./assets/images/300ppi/gradient.png");
    background-size: 110%;
    background-position: center;
    box-shadow: 0px 15px 20px hsla(4, 100%, 67%, 0.5);
}

#email:focus {
    outline: 0.5px solid var(--charcoal-grey);
}

/* Utility class */
.pad-round {
    padding: 15px;
    border-radius: 10px;
}

#form-label {
    display: flex;
    justify-content: space-between;
}

#error {
    color: var(--Tomato);
    display: none;
}

.invalid {
    background-color: pink;
    outline: 1px solid red;
}